@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600');
$main-title: "Montserrat", sans-serif;
$big-title: 600;
$regular-title: 400;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700');
$main-font: 'Ubuntu', sans-serif;
$font-bold: 700;
$font-regular: 400;
