extends ../template/template
block menu
    include ../includes/main-menu
block title
    h1.title Home
block main
    .gallery
        .gallery__item
            img(src="assets/img/gallery/1.jpg", alt="imagen de la galeria 1").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/2.jpg", alt="imagen de la galeria 2").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/3.jpg", alt="imagen de la galeria 3").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/4.jpg", alt="imagen de la galeria 4").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/5.jpg", alt="imagen de la galeria 5").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/6.jpg", alt="imagen de la galeria 6").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/7.jpg", alt="imagen de la galeria 7").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/8.jpg", alt="imagen de la galeria 8").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/9.jpg", alt="imagen de la galeria 9").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/10.jpg", alt="imagen de la galeria 10").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/11.jpg", alt="imagen de la galeria 11").gallery__img
            .gallery__hover
                h2 ver imagen
        .gallery__item
            img(src="assets/img/gallery/12.jpg", alt="imagen de la galeria 12").gallery__img
            .gallery__hover
                h2 ver imagen
        