#register-modal.lightbox
    form#register-form.form
        .form__field
            label(for="register-email").form__label Email
            input(type="email" name="email")#register-email.form__input
        .form__field
            label(for="register-password").form__label Password
            input(type="password" name="password")#register-password.form__input
        .form__field
            label(for="register-password-2").form__label Repeat Password
            input(type="password" name="password-2")#register-password.form__input
        .form__field.form__buttons
            input.button(type="submit" value="Send").form__submit